asyncio
itertools
json
dateutil 
earthengine-api==1.5.9
folium==0.19.5
geemap==0.35.3
geopandas==1.0.1
joblib==1.4.2
matplotlib==3.10.1
numpy==2.2.4
optuna==4.2.1
pandas==2.2.3 
python-dateutil==2.9.0.post0
scikit-learn==1.6.1
scipy==1.15.2
shapely==2.0.7
streamlit==1.44.1
streamlit-folium==0.24.1
torch==2.6.0+cu126
tqdm==4.67.1
xgboost==2.1.3
